<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzz.platform.api.invoice.dao.InvoiceDao">

    <select id="getFileById" resultType="com.zzz.platform.api.invoice.entity.InvoiceEntity">
        SELECT *
        FROM t_file
        <where>
            user_id = #{userId}
        </where>
    </select>


</mapper>